* {
    font-family: Helvetica Neue, sans-serif;
    /*color: var(--colors-primary);*/
    /*background: var(--colors-background);*/
}

::placeholder {
    font-size: 14px;
    color: hsl(0, 0%, 50%);
}

#root {
    height: min(100vh - 2rem);
}