/*TODO: css to styled components*/

.no-suggestions {
    color: #c5cfdc;
    font-size: 14px;
    padding: 5px 0;
}

/*TODO: align suggestion box*/
.suggestions {
    border: 1px solid #c5cfdc;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    list-style: none;
    margin-top: 3px;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 253px;
    font-size: 14px;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #f9fbfc;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #c5cfdc;
}

input {
    border-radius: 5px;
    border: 1px solid #c5cfdc;
    width: inherit;
    height: inherit;
    font-size: 14px;
}